.live-channels {
    display: flex;
    overflow-x: auto;
  }
.LiveChannels {
    width: 20.73em;
    height: 19.6875em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 0.5%;
    transition: background-color 0.2s ease-in-out;
    border-radius: 0.3125em;
  }
  
  .LiveChannels:hover{
    background-color: #ffffff17;
    border-radius: 0.3125em;
  }
  .streams_image {
    position: relative;
    align-items: center; 
    justify-content: center; 
    width: 95% ;
    height: 176px;
    display: flex;
  }
.streams_image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}.Live-section{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #0e0a14;
  width: 20%;
  height: 15%;
  border-radius: 5px;
  top: 5%;
  left: 5%;
  opacity: 90%;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bolder;
  color: #53fc18;
}
.on_live{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #0e0a14;
  width: 45%;
  height: 15%;
  border-radius: 5px;
  font-size: 14px;
  top: 80%;
  left: 5%;
  opacity: 90%;
}
.viewers_count{
  border-radius: 5px;
  font-size: .875rem;
}
.streamer_name{
    display: flex;
    width: 314.66px;
    height: 32px;
    align-items: center;
    padding: 8px 0px 0px;
}
  .info_stream {
    width: 95%;
    height: 40%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
.Live_logo{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.Streamer_Name{
    font-size: medium;
    margin-left: 2%;
    opacity: 50%;
}
.stream_desc{
    padding-right: 10px;
    margin-top: -10px;
    flex-shrink: 0; 
}
.stream_desc p{
    margin-top: -2%;
}

.stream_desc h2{
    display: flex;
    font-size: 16px;
}
.LiveCategory {
    display: flex;
    font-size: 14px;
    margin-top: 5px;
  }
.stream_title {
    width: 98%;
    margin-bottom: 5%;
    height: 20px; 
  }
.stream_etiqueta {
    width: 20%;
    height: 1.7em;
    background-color: #202225;
    border-radius: 10px;
    font-size: small;
  }
.stream_etiqueta p{
    opacity: 60%;
    font-size: small;
}
.truncate {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  @media (max-width: 1366px) {
    .live-channels {
      display: flex;
      overflow-x: auto;
    }
  .LiveChannels {
      width: 20.73em;
      height: 19.6875em;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 0.5%;
      transition: background-color 0.2s ease-in-out;
      border-radius: 0.3125em;
    }
    
    .LiveChannels:hover{
      background-color: #ffffff17;
      border-radius: 0.3125em;
    }
    .streams_image {
      align-items: center; 
      justify-content: center; 
      width: 95% ;
      height: 176px;
      display: flex;
    }
  .streams_image img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
  }.Live-section{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #0e0a14;
    width: 5%;
    height: 3%;
    border-radius: 5px;
    margin-bottom: 10.5%;
    margin-left: -17.5%;
    opacity: 90%;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
    color: #53fc18;
  }
  .on_live{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #0e0a14;
    width: 10%;
    height: 3%;
    border-radius: 5px;
    margin-top: -10.5%;
    margin-left: 12.5%;
    opacity: 90%;
  }
  .viewers_count{
    position: absolute;
    border-radius: 5px;
    font-size: .875rem;
  }
  .streamer_name{
      display: flex;
      width: 314.66px;
      height: 32px;
      align-items: center;
      padding: 8px 0px 0px;
  }
    .info_stream {
      width: 95%;
      height: 40%; 
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: auto;
    }
  .Live_logo{
      width: 32px;
      height: 32px;
      border-radius: 50%;
  }
  .Streamer_Name{
      font-size: medium;
      margin-left: 2%;
      opacity: 50%;
  }
  .stream_desc{
      padding-right: 10px;
      margin-top: -10px;
      flex-shrink: 0; 
  }
  .stream_desc p{
      margin-top: -2%;
  }
  
  .stream_desc h2{
      display: flex;
      font-size: 16px;
  }
  .LiveCategory {
      display: flex;
      font-size: 14px;
      margin-top: 5px;
    }
  .stream_title {
      width: 98%;
      margin-bottom: 5%;
      height: 20px; 
    }
  .stream_etiqueta {
      width: 20%;
      height: 1.7em;
      background-color: #202225;
      border-radius: 10px;
      font-size: small;
    }
  .stream_etiqueta p{
      opacity: 60%;
      font-size: small;
  }
  .truncate {
      white-space: nowrap;
      overflow: hidden; 
      text-overflow: ellipsis; 
    }
  }