.body-container{
    display: "flex";
	flex-direction: "column";
	align-items: "center";
	justify-content: "center";
	font-size: "300%";
	position: "absolute";
	width: "100%";
	height: "100%";
	top: "-15%";
}
h1 {
    color: white; /* Color del texto */
    -webkit-text-stroke: 2px black; /* Borde negro con un ancho de 2 píxeles (compatible con navegadores WebKit, como Chrome y Safari) */
}

.counter-body-container{
    font-size: "120%";
	position: "relative";
	top: "10vh";
}
.increase-button{
    font-size: "60%";
	position: "relative";
	top: "20vh";
	margin-right: "5px";	
    background-color: "green";
	border-radius: "8%";
	color: "white";
}
.decreament-button{
    font-size: "60%";
	position: "relative";
	top: "20vh";
	margin-left: "5px";
	background-color: "red";
	border-radius: "8%";
	color: "white";
}
.img-container{
	width: 624px;
	height: 471px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 13%;
}
body {
    background-image: url(https://png.pngtree.com/background/20230528/original/pngtree-gym-is-reflected-in-an-odd-light-picture-image_2773779.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}
