    .body-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 56px); 
        overflow-y: none;
     }
    .color-line{
        border-bottom: 1px solid #24272c;
        width: 132%;
        margin-left: -5%;
    }
    .s-channels-container {
        margin-top: 10%;
        width: 130%;
        height: 40%;
        display: flex;
        cursor: pointer;
        margin-left: -3%;
    }
    .b-channels-container {
        width: 133%;
        height: 25.4em;
        display: flex;
        cursor: pointer;
        margin-left: -5.5%;
    }
    .body-sidebar{
        z-index: 5;
    }

    @media (max-width: 1366px) {
    .b-channels-container {
        width: 100%;
        height: 46%;
        display: flex;
        cursor: pointer;
        margin-left: 7%;
    }
    .color-line{
        border-bottom: 1px solid #24272c;
        width: 86%;
        margin-left: 18%;
    }
     .s-channels-container {
        margin-top: 3%;
        width: 90%;
        height: 60%;
        display: flex;
        cursor: pointer;
        overflow-y: none;
        overflow-x: none;
        margin-left: 18%;
    }
    .Category-section{
        margin-left: 18%;
    }
    }