    .body-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 56px); 
        overflow-y: none;
     }
    .color-line{
        border-bottom: 1px solid #24272c;
        width: 132%;
        margin-left: -5%;
    }
    .s-channels-container {
        margin-top: 1%;
        width: 130%;
        height: 40%;
        display: flex;
        cursor: pointer;
        margin-left: -5%;
    }
    .b-channels-container {
        width: 133%;
        height: 25.4em;
        display: flex;
        cursor: pointer;
        margin-left: -5.5%;
    }
    .body-sidebar{
        z-index: 5;
    }
    .Category-section{
        margin-left:-5%;
    }
    .topgroups-sections{
        margin-top: 1%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    .title1{
        margin-top: 5%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
        margin-left: -5%;    
    }
    .title2{
        margin-top: 1%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
        margin-left: 1%;    
    }
    .title3{
        margin-top: 2%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
        margin-left: -4%;    
    }

    @media (max-width: 1366px) {
    .b-channels-container {
        width: 100%;
        height: 46%;
        display: flex;
        cursor: pointer;
        margin-left: 6.5%;
    }
    .color-line{
        border-bottom: 1px solid #24272c;
        width: 80%;
        margin-left: 18%;
    }
    .color-line-2{
        border-bottom: 1px solid #24272c;
        width: 95%;
        margin-left: 1%;
        margin-top: 5%;
    }
    .color-line-3{
        border-bottom: 1px solid #24272c;
        width: 95%;
        margin-left: 1%;
        margin-top: 5%;
    }
     .s-channels-container {
        margin-top: -1%;
        width: 90%;
        height: 60%;
        display: flex;
        cursor: pointer;
        overflow-y: none;
        overflow-x: none;
        margin-left: 17%;
    }
    .Category-section{
        margin-left: 17%;
    }
    .topgroups-sections{
        margin-top: 1%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    .title1{
        margin-top: 5%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
        margin-left: 18%;    
    }
    .title2{
        margin-top: 1%;
        margin-bottom: -1%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
        margin-left: 1%;    
    }
    .title3{
        margin-top: 2%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
        margin-left: 19%;    
    }
    .title4{
        margin-top: 3%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
        margin-left: 1%;    
    }
    }