    .body-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 56px); 
        width: 100%;
        overflow-y: auto;
        margin-left: 1%;
     }
     .all-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }
    .color-line{
        border-bottom: 1px solid #24272c;
        width: 100%;
    }
    .s-channels-container {
        margin-top: 1%;
        height: 40%;
        display: flex;
        cursor: pointer;
    }
    .b-channels-container {
        width: 100%;
        display: flex;
        cursor: pointer;
    }
    .body-sidebar {
        position: sticky;
        top: 0;
        width: auto;
        background-color: #191b1f;
        padding: 0.5%;
        box-sizing: border-box;
        border-right: 1px solid rgba(255, 255, 255, 0.105);
      }
      
    .topgroups-sections{
        margin-top: 1%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    .title1{
        margin-top: 1%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
    .title2{
        margin-top: 1%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
        margin-left: 1%;    
    }
    .title3{
        margin-top: 2%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
    .footer-container-final{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .BigChannel-overflow{
        width: 23.125em;
        height: 17.65em;
        overflow: none;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    @media (max-width: 1366px) {
    .b-channels-container {
        width: 66.5em;
        display: flex;
        cursor: pointer;
    }
    .body-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 5px); 
        width: 100%;
        overflow-y: auto;
        margin-left: 0%;
        padding: 0.5%;
     }
    .body-sidebar{
        position: sticky;
        height: 100vh;
        top: 0;
        width: auto;
        background-color: #191b1f;
        padding: 1%;
        box-sizing: border-box;
    }
    .all-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .color-line{
        border-bottom: 1px solid #24272c;
        width: 100%;
    }
    .color-line-2{
        border-bottom: 1px solid #24272c;
        width: 95%;
        margin-top: 5%;
    }
    .color-line-3{
        border-bottom: 1px solid #24272c;
        width: 95%;
        margin-top: 5%;
    }
     .s-channels-container {
        margin-top: -1%;
        height: 60%;
        display: flex;
        cursor: pointer;
        overflow-y: none;
        overflow-x: none;
    }
    .topgroups-sections{
        margin-top: 1%;
        margin-left: 1%;
    }
    .title1{
        margin-top: 1%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
    .title2{
        margin-top: 1%;
        margin-bottom: -1%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
    .title3{
        margin-top: 2%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
    .title4{
        margin-top: 3%;
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
    .footer-container-final{
        margin-top: 5%;
        margin-bottom: 10%;
    }
    }
   @media (max-width: 768px) {
  .all-content {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .title1-container {
    position: relative;
    height: 8%;
  }
  .component-overflow-b{
    height: 45%;
  }
  .body-container {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5%;
  }

  .body-sidebar {
    display: none;
  }

  .title1 {
    display: block;
    padding-left: 5%;
  }

  .b-channels-container {
    width: 100%;
    height: none;
    cursor: pointer;
  }

  .category-overflow {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .color-line {
    display: none;
  }

  .footer-container-final {
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .s-channels-container {
    margin-top: -1%;
    display: flex;
    cursor: pointer;
}
}