.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    position: relative;
    background-color: #24272c;
    /* width: 13.625em;    
    height: 12.75em; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .burguer-option{
    margin-left: -2%;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    padding: 5px;
    padding-left:5%;
    border-bottom: 1px solid #ffffff48;  
  }
  .burguer-option:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.124);
    border-radius: 15px;
  }
  .imagen-idioma{
    width: 1.125em;
    height: 0.875em;
  }