/* Side Bar css */
.B-Sidebar{
  position: relative;
  overflow-y: none;
}

.SideBar {
    height: 100%;
    padding: 1%;
    box-sizing: border-box;
    transition: width 0.5s ease;
  }
  .B-Sidebar.open .SideBar {
    width: 12vw;
  }
  
  .B-Sidebar.closed .SideBar {
    width: 2.5vw;
    overflow: hidden;
  }

  @media (max-width: 767px) {
  
    .SideBar{
      display: none;
    }
  }
  @media (max-width: 1366px) {
    .SideBar {
      width: 19vw;
      height: 100%;
      padding: 1.5%;
      box-sizing: border-box;
    }
  }