/* Side Bar css */
.B-Sidebar{
  position: relative;
  overflow-y: none;
}

.SideBar {
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
  transition: width 0.5s ease;
}
.color-line-sidebar{
  margin-top: 30%;
  border-bottom: 3px solid #24272c;
  width: 100%;
}
  #Showmore-text{
  position: absolute;
  top: 105%;
  left: 30%;
  font-size: 14px;
  color: #a7b1b7;
  font-weight:500;
}
  #Showmore-text:hover{
    color: white;
  }
  .B-Sidebar.open .SideBar {
    width: 12vw;
    cursor: pointer;
  }
  
  .B-Sidebar.closed .SideBar {
    width: 2.5vw;
    overflow: hidden;
  }

  @media (max-width: 767px) {
  
    .SideBar{
      display: none;
    }
  }
  @media (max-width: 1366px) {
    .SideBar {
      height: 100%;
      padding: 1%;
      box-sizing: border-box;
      transition: width 0.5s ease;
    }
    .B-Sidebar.open .SideBar {
      width: 18vw;
    }
    
    .B-Sidebar.closed .SideBar {
      width: 4vw;
      overflow: hidden;
    }
  
  }