.live-topgroups{
    display: flex;
    overflow-x: none;
    width: 125%;
    height: 7.071em;
}
.main-topgroups{
    width: 16.784em;
    height: 5.838em;
    margin-right: 1em;
}
.topgroups_image{
    width: 100%;
    height: 100%;
    position: relative;
}
.topgroups_image img{
    width: 100%;
    height: 100%;
    opacity: 50%;
    border-radius: 5px;
}
.grouptype{
 position: relative;
  top: -80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.topgroups_image:hover img {
    opacity: 0.5;
  }
  .main-topgroups:hover .topgroups_image img {
    opacity: 1;
  }
.main-topgroups:hover{
  border: 2px solid #68ff4e; 
  border-radius: 5px;
  opacity: 100%; 
}
@media (max-width: 1366px) {
  .live-topgroups{
    display: flex;
    overflow-x: none;
    width: 107%;
    height: 3.896em;
}
.main-topgroups{
  width: 10.708em;
  height: 3.646em;
  margin-right: 1em;
}
.grouptype{
  position: relative;
  font-size: 18px;
   top: -90%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.2s ease-in-out;
 }
}