:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Code CSS */
.s_logo{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.SideChannels{
  width: 220px;
  height: 42px;
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-between;
  margin-left: -10px;
}
.info-container{
  display: flex;
  flex-direction: column;
  height: 100%; /* Establece la altura en 100% */
  margin-left: -10px; /* Agrega este margen para empujar los demás elementos */
}
.category-container{
  margin-left: -5px; /* Ajusta el margen izquierdo */
}
.ChannelName{
  width:117.6px ;
  height: 16.8px;
  text-align: center; /* Centra el texto */
  margin: 0; /* Agrega este margen para quitar el margen superior e inferior */
}
.category{
  margin-top: 0; /* Elimina el margen superior */
  text-align: center; /* Centra el texto */
}
.viewers-container{
  display: flex;
  align-items: center;
}
.viewers{
  margin-left: 5px;
}
.redcircle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}

/* Side Bar css */

.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: #1f1f23;
  padding: 20px;
  box-sizing: border-box;
}

.Foryou {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Foryou p {
  font-weight: bold;
  font-size:small;
  margin-left: -10PX;
}

.contractbttn {
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #1f1f23;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;

}

.contractbttn:hover {
  background-color: #ffffff5d;
  border-radius: 10px;
}
.btnimg{
  width: 25px;
  height: 25px;
  margin-left: -5px;
}