/* Code CSS of the channels on the SideBar */
.logodiv {
  width: 15%;
  height: 70%;
  margin-right: 5%;
}
.s_logo {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.SideChannels {
  cursor: pointer;
  width: 100%;
  height: 10%;
  display: flex;
  margin-bottom: 3%;
  align-items: center;
  /* Use flex-start for left alignment within parent */
  justify-content: flex-start; /* Adjust as needed for other layouts */
  margin-left: 0; /* Remove negative margin */
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
}

.SideChannels:hover {
  background-color: #ffffff18;
  border-radius: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 0;
  margin-right: 20%;
}

.category-container {
  margin-left: 0;
}

.ChannelName {
  width: 100%;
  height: 16.8px;
  text-align: left;
  margin: 0;
  font-size: medium;
  margin-top: 10%;
}

.category {
  opacity: 0.7;
  font-size: small;
  margin-top: 0;
  /* text-align: center; */
  text-align: left;
}

.viewers-container {
  display: flex;
  align-items: center;
}

.viewers {
  margin-left: 5px;
}

.redcircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #53fc18;
  border: 1px solid black;
}
  /* responsibe sidebar */
  @media (max-width: 767px) {
    .SideChannels{
      flex-direction: column;
    }
    .info-container{
      margin-left: 0;
    }
    .viewers-container{
      margin-left: 0;
    }
    /* Agrega la propiedad display: none; para que todo desaparezca en dispositivos móviles */
    .SideChannels, .info-container, .category-container, .ChannelName, .category, .viewers-container, .viewers, .redcircle{
      display: none;
    }
  }